.slogan {
    font-family: monospace, monospace;
    font-size: 16px;
    background: linear-gradient(100deg, #008F11, #00FF41);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    margin: 64px 0;
  }